{% extends "base.html" %}

{% block content %}
<html>
    <h1>Welcome {{name}}, here are some top destinations!</h1>
    <a href="https://www.google.com">goooogle</a>
    
    <ul>
        {% for city in top_cities %}
        <li>{{ city.city_name }} </li>
        {% endfor %}
    </ul>

    <form action = "" method = "POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.city_name.label }}
            {{ form.city_name(size = 32) }}
        </p>
        <p>
            {{ form.city_rank.label }}
            {{ form.city_rank(size = 32) }}
        </p>
        <p>
            {{ form.is_visited.label }}
            {{ form.is_visited() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</html>
{% endblock %}